--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.10
torchvision
torchaudio
scipy
jupyterlab
pandas
tqdm
ipykernel
ipywidgets
opencv-python
pyyaml==5.1
pycocotools
ensemble-boxes
numpy==1.22